@font-face {
    font-family: PtSerif;
    src: url(../fonts/PT_Serif/PTSerif-Regular.ttf);
}
@font-face {
    font-family: MerriweatherBold;
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
}
@font-face{
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

*{
    font-family: Merriweather;
}

/* Nav Bar Styling */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.493);
}
.navbar a{
    text-decoration: none !important;
}
.navbar{
    background-color: white !important;
}
nav img {
    /* width: 90px;
    height: 90px; */
}
.nav-wl{
    color: #3851cf;
}
.nav-l{
    color: black;
}
.navbar-nav{
    margin-right: 30px;
    font-size: 1.5rem;
}
